
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #16161A;
    color: #BCBCE3;
    font-family: 'Noto Sans', sans-serif;
    font-weight:400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #1D1D2B;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #2A2A3D;
}

header {
    height:70px;
    background-color: #1D1D2B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #2A2A3D;
}

a {
    text-decoration: none;
}

.title {
    font-size: 30px;
    color: #BCBCE3;
}

.nav-dropdown {
    display:flex;
}

.nav-item {
    color: #BCBCE3;
    font-size: 18px;
}

.dropdown {
    position: relative;
    color: #BCBCE3;
    font-size: 18px;
    cursor: pointer;
    margin-right:30px;
}

.nav-links {
    background-color: #2e2e41;
    display: none;
    position: absolute;
    background-color: #1D1D2B;
    min-width: 180px;
    z-index: 1;
    left: 0;
    top: 105%;
    border-radius:6px;
}

.dropdown:hover .nav-links {
  display: block;
}

.nav-links a {
    color: #BCBCE3;
    padding: 10px 16px;
    display: block;
}

.nav-links a:hover {
    background-color: #2A2A3D;
    border-radius:6px;
}

.dropdown-title {
    font-size: 20px;
}

.dropdown#dropdown-algorithms .nav-links {
    min-width:150px;
}

.tagline {
    margin-top:250px;
    font-size: 90px;
    margin-left:20px;
}

.description {
    margin-left:20px;
    font-size:25px;
    margin-top:20px;
}

.page-title {
    font-size:50px;
}

.content-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.page-body {
    font-size:18px;
    line-height:30px;
    margin-top:8px;
    padding-bottom:10px;
}

.message {
    margin-top:10px;
    font-weight:600;
    font-size:19px;
}

.question {
    padding-top:25px;
}

.q-title {
    font-weight:600;
}